{% extends 'base.html.twig' %}

{% block title %}
    {{ 'welcome'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'the_lastest_book'|trans }}</h1>
    <div class="container-fluid text-center">
                    <img src="2.jpg">
    </div>
    <div class="container-fluid">
        <h2>{{ 'news'|trans }}</h2>
        <div class="row">
            <div class="col text">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac sapien eget tortor tempus fringilla. Nam sollicitudin porttitor urna nec faucibus. Ut eget venenatis justo, sed consequat erat. Sed in laoreet nibh. Nullam dignissim porttitor hendrerit. Aliquam dolor magna, euismod sed mauris non, sodales euismod ipsum. Vestibulum consectetur quam vel leo mollis dignissim. Sed eu libero ornare, tempor tortor ut, faucibus ex. Donec at augue quis magna maximus tempor in a magna. Pellentesque tincidunt eros non massa tristique, ut hendrerit justo congue. In nulla eros, pharetra laoreet quam sit amet, luctus hendrerit nulla. Etiam quis nunc et mi suscipit faucibus. Morbi mollis, neque mattis molestie interdum, sapien libero porta diam, vel tincidunt libero nunc sed ante.
                    Maecenas at tortor vitae ligula sagittis accumsan. Curabitur tempor, tortor a facilisis ultricies, tellus mi auctor ligula, id laoreet magna est sit amet ex. Sed blandit viverra risus. Aenean porttitor dolor ac ex eleifend fermentum. Aenean aliquam mauris quis feugiat venenatis. Donec aliquam tortor sed eleifend euismod. Quisque vitae enim sit amet ligula bibendum euismod eget eget eros.</p>
            </div>
        </div>
    </div>

{% endblock %}